.form {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.form a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #D9D9D9;
}

.form a:hover {
  color: #ffffff;
    background-color: #5DC260;
}


.divider2 {
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 20px 0;
}

.divider {
  border: none;
  height: 3px;
  background-color: #5DC260;
  margin: 20px 0;
  opacity: 0.25;
}
.top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
