.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px 0;
  width: 500px;
  height: 10px;
    margin-left: 90px;
}

.profile a {
  text-decoration: none;
  color: #000000;
  font-weight: bold;
  transition: color 0.3s;
  margin-right: 15px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #D9D9D9;
  display: flex;
}

.profile a:hover {
  color: #ffffff;
    background-color: #5DC260;
}