li{
    font-size: 18px;
    margin: 10px;
    list-style-type: none;
    margin-top: 100px;
}

.NavLink{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin: 10px;
    
}
.sidebar {
    border-right: 1px solid #000;
    width: 200px;
}

.active {
    font-weight: bold;
    color: #5DC260;
}